.articles article{
  width: 350px;
  background: white;
padding: 10px;
  margin-bottom: 30px;
  display: flex;
  border:black solid 3px ;
  justify-content: center;
  flex-direction: column;
}


.articles figure{
  padding: 10px;
}



.articles figure h3{
  margin: 0;
}

.articles figure img{
  margin: 0;
  width:100%;
}

.articles .dateAuteur{
  margin:0;
}


.articles .lirePlus{
  color: $white;
  text-align: center;
}



