footer{
  display: flex;
  background-color: $jaune;
  padding: 10px;
  color: $rouge;
  justify-content: space-around;
  align-items: center;
}




@import url(https://fonts.googleapis.com/css?family=Raleway:400);
.snip1417 {
  border: none;
  background-color: $rouge;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 0px 30px;
  display: inline-block;
  margin: 15px 30px;
  line-height: 46px;
  font-weight: 400;
  font-size: 1em;
  outline: none;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  border-radius: 23px;
  letter-spacing: 2px;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateZ(0);
}
.snip1417:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: $rouge;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.snip1417:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 5px solid $white;
  content: '';
  border-radius: inherit;
}
.snip1417:hover,
.snip1417.hover {
  background-color: $white;
  color: $rouge;
}
.snip1417:hover:before,
.snip1417.hover:before {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 0.25;
}