@import url(https://fonts.googleapis.com/css?family=Raleway:400,600);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1339 {
  font-family: 'Raleway', Arial, sans-serif;
  border: none;
  background-color: $rouge;
  border-radius: 5px;
  color:$white;
  cursor: pointer;
  padding: 0px 40px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  line-height: 2.7em;
  font-weight: 600;
  font-size: 1em;
  outline: none;
  position: relative;
  font-size: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.snip1339:after {
  content: "";
  position: absolute;
  color: $black;
  width: 100%;
  top: 50%;
  bottom: 50%;
  left: 0;
  border-radius: inherit;
  background-color: rgba(250, 237, 0, 0.75);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.snip1339:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  background-color: inherit;
  border-radius: 10px;
  z-index: -1;
  box-shadow: inset 0 -6px 10px rgba(0, 0, 0, 0.75);
}
.snip1339:hover:after,
.snip1339.hover:after {
  top: 0;
  bottom: 0;
}
/* Demo purposes only */
body {
  background-color: #212121;
}