@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
.snip1459 {
  font-family: 'Roboto', Arial, sans-serif;
  text-align: left;
  font-weight: 300;
  background-color: #eee;
  display: inline-block;
  padding: 0;
  letter-spacing: 2px;
  background: $rouge;
  //background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
  //background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
}
.snip1459 *,
.snip1459 *:before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.snip1459 li {
  list-style: outside none none;
  margin: 0;
  position: relative;
  float: left;
}
.snip1459 > li {


}
.snip1459 > li:first-of-type {
  border-left: none;
}
.snip1459 > li:last-of-type {
  border-right: none;
}
.snip1459 a {
  color: #000000;
  padding: 1.1em 2em 1.3em;
  position: relative;
  text-decoration: none;
}
.snip1459 a:hover {
  color: #ffffff;
}
.snip1459 > li:before,
.snip1459 > li:after {
  position: absolute;
  content: '';
}
.snip1459 > li:before {
  background-color: $jaune;
  left: 50%;
  right: 50%;
  bottom: 0;
  top: 0;
  opacity: 0;
}
.snip1459 > li:after {
  position: absolute;

}
.snip1459 ul {
  display: none;
  position: absolute;
  top: 100%;
  margin: 0;
  padding: 5px 0;
  white-space: nowrap;
  font-size: 0.8em;
  background-color: #8e2a20;
  color: #ffffff;
  font-weight: 400;
}
.snip1459 ul li {
  display: list-item;
  float: none;
  position: relative;
}
.snip1459 ul li a {
  padding: 0.8em 1.2em;
  color: #ffffff;
  text-transform: none;
  opacity: 0.8;
}
.snip1459 ul li a:hover {
  opacity: 1;
}
.snip1459 li:hover > ul {
  display: inherit;
}
.snip1459 li > a:after {
  content: ' \f3d0';
  font-family: "Ionicons";
}
.snip1459 li > a:only-child:after {
  content: '';
}
.snip1459 ul ul {
  background-color: #962d22;
  top: 0px;
  left: 100%;
  list-style: none;
  font-size: 1em;
}
.snip1459 ul li > a:after {
  content: ' \f3d1';
}
.snip1459 > li:hover > a,
.snip1459 > li.current > a {
  color: #fff;
}
.snip1459 > li:hover:before,
.snip1459 > li.current:before {
  left: 0;
  right: 0;
  opacity: 1;
}