
.header-page h1{
  color:$white;
  margin: 0;
}

.header-page{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding:15px;

}

.header-page i{
  color: $jaune;
  font-size: 50px;
}

.pseudo{
  display: none;
}

.ajout{
  display: none;
}




.header-page{
  background: $color-bg-dark;

  nav{
    display: flex;

    flex-direction: column;

    .toggle-menu{
      display: none;
    }

    .toggle-menu:checked + ul{
      display: block;
    }

    ul{
      list-style: none;
      padding: 0;

      display: none;

      li{
        background: $color-bg-dark;
        position: relative;

        a{
          display: inline-block;
          padding: 10px 5px;
          width: 100%;
        }

        ul{
          position: static;
          display: none;

          a{
            display: inline-block;
            min-width: 150px;
          }
        }
      }

      li:hover{
        background: lighten($color-bg-dark, 35%);

        ul{
          display: block;
        }
      }
    }
  }
}



@media screen and (min-width: $vw-medium){

  .header-page{
    nav.main-nav{
      flex-direction: row;
      justify-content: space-between;
      align-items: center;



      .show-menu{
        display: none;
      }

      ul.main-menu{
        display: flex;


        li{
          ul{
            position: absolute;
          }
        }
      }
    }
  }

}