.hero{
  background: url("../../images/hero.jpg") 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin-bottom: 30px;
}


.hero h2{
  margin: 0;
  text-align: center;
}