// STYLE DE BASE DE TOUS LES LIENS ET BOUTON DU SITE

a{
  &:link{

    text-decoration: none;
  }

  &:visited{
    color: $color-link-visited;
  }

  &:hover{


  }

  &:active{
    color: $color-link-active;
  }

  &:focus{
    color: $color-link-focus;
  }
}